<p>tablet works!</p>
<div class="sroll-bar">
    <div class="row mt-4" style="overflow-y: scroll; max-height: 1000px;">
        <div class="bg col-md-6" *ngFor="let tablet of tablets" >
            
            <div class="card mx-2 my-2" >   
                <img class="mx-2 my-2" width="390px" height="390px" [src]="tablet.imgUrl" alt="">
                 <li>brand:<strong>{{tablet.brand}} </strong></li> 
                 <li>model:<strong>{{tablet.model}} </strong></li>  
                 <li>display_size:<strong>{{tablet.display_size}} </strong></li>  
                 <li>ram:<strong>{{tablet.ram}} </strong></li>  
                 <li>storage:<strong>{{tablet.storage}} </strong></li>  
                 <li>processor:<strong>{{tablet.processor}} </strong></li>  
                 <li>battery:<strong>{{tablet.battery}} </strong></li>      
                 <li>price:<strong>{{tablet.price}} </strong></li>  
                 <button class="btn btn-primary" >Buy</button>
            </div>
        </div>
    </div>
    </div>
